/* Base theme */
.formlyWrapper-Base
	{
	color:#888;
	background:#eee;
	border:1px solid #fff;
	padding:10px;
	box-shadow:0px 0px 3px #888;
    -moz-box-shadow:0px 0px 3px #888;
    -webkit-box-shadow:0px 0px 3px #888;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    border-radius:4px;
    -khtml-border-radius:4px;
    text-shadow:0px 1px 0px #fff;
	}
.formlyWrapper-Base input[type="text"], .formlyWrapper-Base input[type="password"], .formlyWrapper-Base select, .formlyWrapper-Base textarea
	{
	color:#444;
	border:1px solid #ccc;
	padding:5px 10px;
	box-shadow:0px 1px 0px #fff;
    -moz-box-shadow:0px 1px 0px #fff;
    -webkit-box-shadow:0px 1px 0px #fff;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    border-radius:4px;
    -khtml-border-radius:4px;
    margin:5px 10px;
	}
.formlyWrapper-Base input[type="submit"], .formlyWrapper-Base input[type="reset"], .formlyWrapper-Base input[type="button"]
	{
	border:1px solid #bbb;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    border-radius:3px;
    -khtml-border-radius:3px;
    background: -moz-linear-gradient(100% 100% 90deg, #d5d5d5, #eee);
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#eee), to(#d5d5d5));
    background: -webkit-linear-gradient(#eee, #d5d5d5);
    background: -o-linear-gradient(#eee, #d5d5d5);
    color:#232d3d;
    font-size:12px;
    font-weight:bold;
    padding:4px 10px;
    margin:15px 0px 10px 10px;
    text-shadow:0px 1px 0px #fff;
    cursor:pointer;
    box-shadow:0px 1px 2px #ccc;
    -moz-box-shadow:0px 1px 2px #ccc;
    -webkit-box-shadow:0px 1px 2px #ccc;
    float:right;
    }
.formlyWrapper-Base input[type="submit"]:hover, .formlyWrapper-Base input[type="submit"]:active
	{ color:#008ce5; }
.formlyWrapper-Base input[type="reset"]:hover, .formlyWrapper-Base input[type="reset"]:active, .formlyWrapper-Base input[type="button"]:hover, .formlyWrapper-Base input[type="button"]:active
	{ color:#d85054; }
.formlyWrapper-Base input[type="submit"]:active, .formlyWrapper-Base input[type="reset"]:active, .formlyWrapper-Base input[type="button"]:active
	{
	box-shadow:inset 0px 1px 2px #ccc;
    -moz-box-shadow:inset 0px 1px 2px #ccc;
    -webkit-box-shadow:inset 0px 1px 2px #ccc;
	}
.formlyWrapper-Base h1, .formlyWrapper-Base h2
	{ padding:0; margin:3px 0; }
.formlyWrapper-Base h1
	{
	font-size:16px;
	color:#555;
	}
.formlyWrapper-Base h2
	{
	font-size:13px;
	color:#666;
	}
.formlyWrapper-Base hr
	{
	color:#ddd;
	border:1px solid #ddd;
	border-bottom-color:#f9f9f9;
	}
